<div>
    <header class="pageHeader">
        <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.SystemMap' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="container-fluid">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div *ngFor="let item of systemMapData" class="col-lg-2">
                    <div style="padding:10px;" [ngStyle]="{'background-color': item.color}">
                        <button class="btn btn-lg btn-info align-self-xl-center" (click)="selectStation(item.stationId)">{{item.stationId}}</button>
                        <h3>
                            {{item.stationAbbr}} - {{item.deviceStateName}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
